@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: $primary;
    display: flex;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-ternary {
    background-color: $ternary;
}

.bg-secondary-dark {
    background-color: darken($secondary, 10%);
}