div.fixed {
    position: fixed;
}

div.anchor-div {
    position: fixed;
    top: 50%;
    left: 5em;
    border-radius: 50%;

    &:hover {
        transform: translateX(8px);
    }
}

div.anchor-inactive {
    left: -0.5em;
}

div.navbar-inactive {
    transform: translateX(-100%)
}

.anim__ease {
    transition-duration: 500ms;
}

.nav-element {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: solid 1px #AAAAAA;
}